PORT = 80
MONGO_ROOT_USER = admin
MONGO_ROOT_PASSWORD = password123
DB_NAME = clients_db
JWT_SECRET = secret_secret_secret_secret_secret_secret_secret
CLOUDINARY_CLOUD_NAME = cloud_name_example
CLOUDINARY_API_KEY = cloud_api_key_example
CLOUDINARY_API_SECRET = cloud_api_secret_example