DOCKER_USERNAME=draken101
NODE_ENV=production
PORT=8000
DB_NAME=myapp_db
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=TuPassword123!
JWT_SECRET=tu_jwt_secret_muy_largo
CLOUDINARY_CLOUD_NAME=tu_cloudinary
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
LOG_LEVEL=info